<kendo-sparkline 
    [data]="frequencyData" 
    type="area" 
    renderAs="canvas"
    [chartArea]="{ background: 'transparent' }"
    [valueAxis]="{ max: '250' }">
</kendo-sparkline>

<!--<kendo-chart class="visualizer" renderAs="canvas" #visualiser [transitions]="false">
    <kendo-chart-category-axis>
        <kendo-chart-category-axis-item [majorGridLines]="{ visible: false }"></kendo-chart-category-axis-item>
    </kendo-chart-category-axis>
    <kendo-chart-value-axis>
        <kendo-chart-value-axis-item [majorGridLines]="{ visible: false }" [max]="250" [visible]="false"></kendo-chart-value-axis-item>>
    </kendo-chart-value-axis>>
    <kendo-chart-legend visible="false"></kendo-chart-legend>
    <kendo-chart-series-defaults [border]="{ width: 0 }" 
                                 [labels]="{ visible: false }"
                                 [overlay]="{ gradient: null }">
    </kendo-chart-series-defaults>
    <kendo-chart-series>
        <kendo-chart-series-item type="area" [data]="frequencyData">
        </kendo-chart-series-item>
    </kendo-chart-series>
</kendo-chart>-->
