.track-container {
    position: relative;
}

.title {
    position: absolute;
    top: 10px;
    left: 15px;
    padding: 5px;
    background-color:rgba(255, 255, 255, 0.8);
}

td.track {
    padding: 0;
}